<%= simple_form_for(@terminal.nil? ? [@port, @instance] : [@port, @terminal, @instance]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item %>
    <%= f.input :key %>
    <%= f.association :company, :as => :collection_select, 
    collection: Company.where(is_supplier: true),
    label: "Supplier" %>
    <%= f.association :activity_code,
                      label: "On Account Activity Code",
                      label_method: :display %>
    <%= f.input :compulsory %>
    <%= f.input :code, :as => :editor_ace %>
    <%= f.input :document %>
    <%= f.input :changelog, label: 'Change Log Message' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <script type="text/javascript">
    $('select#service_activity_code_id').select2();
    $('select#service_company_id').select2();
  </script>
<% end %>
