<%= simple_form_for(@terminal.nil? ? [@port, @service] : [@port, @terminal, @service], html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :item %>
    <%= f.input :key %>
    <%= f.input :code, :as => :ace, ace: { ace_mode: 'javascript', ace_theme: 'clouds', ace_height: '200' } %>
    <%= f.input :document %>
    <%= f.input :changelog, label: 'Change Log Message' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
