<div class="">
  <h2 class="title">Editing Service for <%= @port.name %><%= " / #{@terminal.name}" if @terminal %></h2>

  <%= render 'form' %>

  <div class="btn-group">
    <% if @terminal %>
      <%= link_to 'Show', port_terminal_service_path(@port, @terminal, @service), :class => "btn btn-default btn-sm" %>
      <%= link_to 'Back', port_terminal_services_path(@port, @terminal), :class => "btn btn-default btn-sm" %>
    <% else %>
      <%= link_to 'Show', port_service_path(@port, @service), :class => "btn btn-default btn-sm" %>
      <%= link_to 'Back', port_services_path(@port), :class => "btn btn-default btn-sm" %>
    <% end %>
  </div>
</div>
