<div class="container-fluid">
  <h1>Editing Service for <%= @port.name %><%= " / #{@terminal.name}" if @terminal %></h1>

  <%= render 'form' %>

  <div class="btn-group">
    <% if @terminal %>
      <%= link_to 'Show', port_terminal_service_path(@port, @terminal, @service), :class => "btn btn-small" %>
      <%= link_to 'Back', port_terminal_services_path(@port, @terminal), :class => "btn btn-small" %>
    <% else %>
      <%= link_to 'Show', port_service_path(@port, @service), :class => "btn btn-small" %>
      <%= link_to 'Back', port_services_path(@port), :class => "btn btn-small" %>
    <% end %>
  </div>
</div>
