<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <h1>Service for <%= @port.name %><%= " / #{@terminal.name}" if @terminal %></h1>
  <% ['item', 'key'].each do |k| %>
    <p><strong><%= k.capitalize %>:</strong> <%= @service.send(k) %></p>
  <% end %>
  <p><strong>Reference Document:</strong><%= link_to(File.basename(@service.document.url), @service.document.url) rescue 'N/A' %></p>

  <p><strong>Created By:</strong> <%= @service.user.full_name rescue 'N/A' %></p>
  <p><strong>Created On:</strong> <%= l @service.created_at %></p>
  <p><strong>Code:</strong></p>
  <div style="height: 440px;"><div id="code" data-ace-mode="javascript"><%= @service.code %></div></div>
  <div class="clearfix"></div>
  <p><strong>Change Log:</strong></p>
  <table class="table">
     <thead>
      <tr>
        <th>Date</th>
        <th>Author</th>
        <th>Change Log Message</th>
        <th>Reference Document</th>
      </tr>
    </thead>
    <tbody>
    <% @service.service_updates.order('created_at DESC').each do |u| %>
      <tr>
        <td><%= l u.created_at %></td>
        <td><%= u.user.full_name rescue 'N/A' %></td>
        <td><%= u.changelog %></td>
        <td><%= link_to(File.basename(u.document.url), u.document.url) rescue 'N/A' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="btn-group">
    <% if @terminal %>
      <%= link_to 'Edit', edit_port_terminal_service_path(@port, @terminal, @service), :class => "btn btn-small" %>
      <%= link_to 'Back', port_terminal_services_path(@port, @terminal), :class => "btn btn-small" %>
    <% else %>
      <%= link_to 'Edit', edit_port_service_path(@port, @service), :class => "btn btn-small" %>
      <%= link_to 'Back', port_services_path(@port), :class => "btn btn-small" %>
    <% end %>
  </div>
</div>
<script type="text/javascript">
    var editor = ace.edit("code");
    editor.setTheme("ace/theme/clouds");
    editor.setReadOnly("true");
    editor.getSession().setUseWorker(false);
    var mode = require("ace/mode/javascript").Mode;
    editor.getSession().setMode(new mode());
</script>
