<div class="container-fluid">
  <h1>Ports</h1>

  <div class="btn-group"></div>

  <table class="table table-bordered datatable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Services</th>
        <th>Tariffs</th>
        <th>Terminals</th>
        <th>Currency</th>
        <th>Tax</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @ports.each do |port| %>
      <tr>
        <td><%= link_to port.name, port_path(port) %></td>
        <td><%= link_to port.services.count.to_s, port_services_path(port)  %></td>
        <td><%= link_to port.tariffs.count.to_s, port_tariffs_path(port)  %></td>
        <td><%= link_to port.terminals.count.to_s, port_terminals_path(port)  %></td>
        <td><%= port.currency.name  %></td>
        <td><%= port.tax.name  %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit Services', port_services_path(port), class: 'btn btn-small'  %>
            <%= link_to 'Edit Terminals', port_terminals_path(port), class: 'btn btn-small'  %>
            <%= link_to 'Edit', edit_port_path(port), class: 'btn btn-small' %>
            <%= link_to 'Delete', port, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-small' %>
          </div>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="clearfix"></div>

  <%= link_to 'New Port', new_port_path, :class => 'btn btn-primary' %>
</div>
