<div class="container-fluid">
  <h1>Estimates</h1>

  <table class="table table-bordered">
    <tr>
      <th>Status</th>
      <th>Port</th>
      <th>Vessel</th>
      <th>Amount Tax Inc.</th>
      <th>Last Modified</th>
      <th>Revision</th>
      <th>Actions</th>
    </tr>

  <% @estimates.each do |estimate| %>
    <tr>
      
      <td>
        <% if estimate.draft? %>
        Draft
        <% else %>
        <%= link_to 'Published', published_url(:id => estimate.publication_id) %>
        <% end %>
      </td>
      <td><%= estimate.port.name %></td>
      <td><%= estimate.vessel.name %></td>
      <td><%= number_to_currency estimate.current_revision.data["total_with_tax"].to_f %></td>
      <td><%= l estimate.current_revision.updated_at %></td>
      <td><%= estimate.current_revision.number %></td>
      <td>
        <div class="btn-group">
          <% if estimate.draft? %>
          <%= link_to 'Publish', publish_estimate_path(estimate), :class => 'btn btn-info btn-small' %>
          <% else %>
          <%= link_to 'Unpublish', unpublish_estimate_path(estimate), :class => 'btn btn-info btn-small' %>
          <% end %>
          <%= link_to 'Edit', edit_estimate_path(estimate), :class => 'btn btn-small' %>
          <%= link_to 'Delete', estimate, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %>
        </div>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Estimate', new_estimate_path, :class => 'btn btn-primary' %>
</div>
