<div class="login">
  <div class="login-logo"></div>
  <div class="login-error" style="display: none;">
    <p><strong class="js-error-title"></strong></p>
    <span class="js-error-msg"></span>
  </div>
  <div class="spinner">
    <h1 class="text-center"><span class="fa fa-spinner fa-spin"></span></h1>
  </div>
  <div class="logged-in" style="display: none;">
    <a href="#" class="lets-go js-login-as">
      Continue as <span class="username">...</span>
    </a>
    <a href="#" class="switch-user js-switch-user">
      Sign in with a different account
    </a>
  </div>
  <div class="login-form" style="display: none;">
    <form id="login">
      <input type="text" name="username" class="input login-username"
             placeholder="Username" autocomplete="off"
             autocorrect="off" autocapitalize="off"
             spellcheck="false">
      <input type="password" name="password" class="input login-password"
             placeholder="Password">
      <a href="#" class="btn login-submit">Log In</a>
    </form>
  </div>

  <div class="login-footer">
    <div><a href="http://stage3systems.com/tos.html">Terms of Service</a></div>
    &copy; 2013-<%= Date.today.year %>
    <a href="http://stage3systems.com" target="_blank"
       class="company">Stage 3 Systems Inc.</a>
  </div>
</div>
<script type="text/javascript">
  var auth0 = new Auth0({
    domain: '<%= @domain %>',
    clientID: '<%= @client_id %>'
  });
  var clearError = function() {
    $('div.login-error').hide();
  };
  var showError = function(title, msg) {
    $('.js-error-title').html(title);
    $('.js-error-msg').html(msg);
    $('div.login-error').show();
  };

  var setupLogin = function() {
    $('input.input').val('');
    $('input.input').on('keypress', function(e) {
      var keycode = (e.keyCode ? e.keyCode : e.which);
      if (keycode === 13) logIn();
    });
    $('a.login-submit').removeAttr('disabled');
    $('a.login-submit').on('click', function(e) {
        e.preventDefault();
        logIn();
    });
  }

  var xdStorage = new CDStorage('<%= @identity_url %>', '/crossdomain.html');
  getToken(xdStorage, function(err, token) {
    $.post('/auth/check', {token: token})
      .done(function(data) {
        $("div.spinner").fadeOut(100);
        if (data.user) {
          $("span.username").html(data.user.name+' ('+
                                  data.user.identity_name+')');
          $("div.logged-in").fadeIn(100);
          $("a.js-login-as").on("click", function(e) {
            e.preventDefault();
            $(this).html($('<span class="fa fa-spinner fa-spin"></span>'));
            $(this).attr('disabled', 'disabled');
            $.post('/auth/register',
                   {token: token})
              .done(function() {
                setToken(xdStorage, token);
                window.location = "<%= root_path %>";
              })
              .fail(function() {
                showError(
                  'The login details you entered were not '+
                  'found in the system or are incorrect.',
                  'Please contact Customer Support for assistance.');
              });
          });
          $("a.js-switch-user").on("click", function(e) {
            e.preventDefault();
            $("div.logged-in").fadeOut(100);
            $("div.login-form").fadeIn(100, setupLogin);
          });
        } else {
          showError(
            'The login details you entered were not '+
            'found in the system or are incorrect.',
            'Please contact Customer Support for assistance.');
          $("div.login-form").fadeIn(100, setupLogin);
        }
      });
  });

  var logIn = function() {
    var button = $('a.login-submit');
    var username = $('input[name="username"]').val();
    var password = $('input[name="password"]').val();
    if (username == '' && password == '') return;
    $(button).html($('<span class="fa fa-spinner fa-spin"></span>'));
    $(button).attr('disabled', 'disabled');
    if (!username.match(/\.<%= @tenant %>$/)) {
      username += '.<%= @tenant %>';
    }
    auth0.login({
      connection: '<%= @connection %>',
      popup: false,
      sso: false,
      username: username,
      password: password
    }, function (err, auth) {
      if (err) {
        showError(
          'The login details you entered were not '+
          'found in the system or are incorrect.',
          'Please contact Customer Support for assistance.');
        $(button).html('Log In');
        $(button).removeAttr('disabled');
        return;
      }
      $.post('/auth/register',
             {token: auth.idToken})
        .done(function(r) {
          setToken(xdStorage, auth.idToken);
          window.location = "<%= root_path %>";
        })
        .fail(function() {
          showError(
            'An unknown error occurred.',
            'Please try again and contact Customer Support '+
            'if the problem persists.');
        });
    });
  }
</script>
