<% content_for :navbar_buttons do %>
  <%= link_to 'Edit', edit_named_service_path(@instance), :class => "btn btn-primary btn-sm" %>
  <%= link_to 'Back', named_services_path(), :class => "btn btn-default btn-sm" %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h2 class="title">Named Service</h2>
    <% ['item', 'key'].each do |k| %>
      <p><strong><%= k.capitalize %>:</strong> <%= @instance.send(k) %></p>
    <% end %>
    <p><strong>Compulsory:</strong> <%= @instance.compulsory ? 'Yes' : 'No' %></p>
    <p><strong>Tax Applies:</strong> <%= @instance.tax_applies ? 'Yes' : 'No' %></p>
  </div>
</div>
