<%= simple_form_for(@disbursment, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :port,
                      collection: current_user.authorized_ports.all.to_a %>
    <%= f.association :terminal %>
    <%= f.association :company, label: "Principal" %>
    <%= f.association :vessel %>
    <%= f.input :tbn, label: 'TBN' %>
  </div>
  <div class="form-inputs tbn_fields">
    <%= f.input :tbn_template,
                label: 'Template',
                collection: ['VLOC CAPESIZE', 'CAPESIZE', 'PANAMAX',
                             'HANDYMAX', 'SUPRAMAX', 'HANDYSIZE'],
                prompt: 'Select TBN template...' %>
    <%= f.input :grt, label: 'GRT' %>
    <%= f.input :nrt, label: 'NRT' %>
    <%= f.input :dwt, label: 'DWT' %>
    <%= f.input :loa, label: 'LOA' %>
  </div>
  <div class="form-actions">
    <%= f.submit 'Next' %>
  </div>
<% end %>
<script type="text/javascript">
  var updateFields = function() {
    if ($("input#disbursment_tbn").is(':checked')) {
     $("div.tbn_fields").show();
     $("select#disbursment_vessel_id").attr("disabled", "disabled");
    } else {
     $("div.tbn_fields").hide();
     $("select#disbursment_vessel_id").removeAttr("disabled");
    }
  };
  $("input#disbursment_tbn").on("change", updateFields);
  var updateTerminals = function() {
    $.ajax('/ports/'+$("select#disbursment_port_id").val()+'/terminals.json', {
      type: 'GET',
      dataType: 'json',
      success: function(d) {
        $("select#disbursment_terminal_id").find("option").remove();
        $("select#disbursment_terminal_id").append('<option value></option>');
        $.each(d, function(i, e) {
          $("select#disbursment_terminal_id").append('<option value="' + e.id + '">' + e.name + '</option>');
        })
      }
    });
  }
  $("select#disbursment_port_id").on("change", updateTerminals);
  var TBNTemplates = {
    'VLOC CAPESIZE': {
      grt: 112000,
      nrt: 55000,
      dwt: 228000,
      loa: 325
    },
    'CAPESIZE': {
      grt: 87500,
      nrt: 55000,
      dwt: 175000,
      loa: 290
    },
    'PANAMAX': {
      grt: 40600,
      nrt: 25000,
      dwt: 75000,
      loa: 225
    },
    'SUPRAMAX': {
      grt: 33500,
      nrt: 19000,
      dwt: 58000,
      loa: 194
    },
    'HANDYMAX': {
      grt: 30000,
      nrt: 16000,
      dwt: 45000,
      loa: 190
    },
    'HANDYSIZE': {
      grt: 19681,
      nrt: 10849,
      dwt: 32000,
      loa: 183
    }
  };
  $("select#disbursment_tbn_template").on("change", function() {
    var template = TBNTemplates[$(this).val()];
    if (!template) return;
    $.each(['grt', 'nrt', 'dwt', 'loa'], function(i, e) {
      $("input#disbursment_"+e).val(template[e]);
    });
  });
  updateFields();
</script>
