<div class="container-fluid">
  <h2 class="title">
    Proforma Disbursments
    <%= link_to 'New PFDA', new_disbursment_path,
                :class => 'btn btn-primary btn-small' %>
  </h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Reference</th>
        <th>ETA</th>
        <th>Port</th>
        <th>Company</th>
        <th>Vessel</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Last Modified</th>
        <th>Revision</th>
        <th>Views</th>
        <th>Prints</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @disbursments.each do |disbursment| %>
      <tr>
        <td>
          <% if disbursment.draft? %>
            <%= link_to disbursment.current_revision.reference,
                        edit_disbursment_path(disbursment) %>
          <% else %>
            <%= link_to disbursment.current_revision.reference,
                        published_short_url(
                          :id => disbursment.publication_id) %>
          <% end %>
        </td>
        <td class="eta"><%= l(disbursment.current_revision.eta) rescue "N/A" %></td>
        <td><%= disbursment.port.name %></td>
        <td><%= disbursment.company.name %></td>
        <td><%= disbursment.vessel_name %></td>
        <td class="right-align"><%= number_to_currency disbursment.current_revision.amount, unit: "" %></td>
        <td><%= disbursment.current_revision.data['currency_code'] %></td>
        <td><%= l disbursment.current_revision.updated_at %></td>
        <td class="right-align"><%= disbursment.current_revision.number %></td>
        <td class="align-right"><%= disbursment.current_revision.anonymous_views %></td>
        <td class="align-right"><%= disbursment.current_revision.pdf_views %></td>
        <td id="pfda_<%= disbursment.id %>">
          <%= select_tag "status",
                         ("<option value=\"publish\""+
                          "#{" selected" if disbursment.published?}"+
                          ">Published</option>"+
                          "<option value=\"unpublish\""+
                          "#{" selected" if disbursment.draft?}"+
                          " >Private</option>").html_safe,
                        style: "width: 100px;",
                        class: "#{ disbursment.published? ? "published" : "private" }"
          %>
        </td>
        <td>
          <div class="btn-group">
            <%= render "common/mailto_pfda", disbursment: disbursment %>
            <%= link_to icon(:pencil), edit_disbursment_path(disbursment),
                        :class => 'btn btn-small',
                        :title => 'Revise' %>
            <%= link_to icon(:trash), disbursment, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        :class => 'btn btn-danger btn-small',
                        :title => 'Delete' %>
          </div>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= render "common/data_table", column_defs: [
      {"bSortable" => false, "aTargets" => [12]},
      {"sType" => "select", "aTargets" => [11]},
      {"sType" => "currency", "aTargets" => [5]}
    ] %>
<script type="text/javascript">
  $("select#status").on("change", function() {
    var id = $(this).parent().attr("id").split("_")[1];
    window.location = "/disbursments/"+id+"/"+$(this).val();
  });
</script>
