<% content_for :navbar_buttons do %>
  <%= link_to 'New PFDA', new_disbursement_path,
              :class => 'btn btn-primary btn-sm' %>
<% end %>
<div class="row top-pad">
  <div class="col-md-12">
    <h4>Search</h4>
    <div class="search-form">
      <%= simple_form_for :search, url: disbursements_path,
                          html: {class: 'form-inline'}  do |f| %>
        <%= f.input :port, prompt: 'Select a Port',
                    label: false,
                    collection: current_user.authorized_ports.all.to_a %>
        <%= f.input :terminal, prompt: 'Select a Terminal',
                    label: false, collection: [] %>
        <%= f.input :vessel_name, placeholder: "Vessel Name",
                    label: false, class: 'reset' %>
        <%= f.input :cargo_type, label: "Cargo Type",
                    prompt: 'Select a Cargo Type', label: false,
                    class: 'cargo-type',
                    collection: CargoType.authorized, label_method: :display %>
        <div class="form-group">
            <%= f.input_field :start_date_picker, placeholder: "Start Date",
                               class: 'form-control date reset' %>
            <%= f.input :start_date, as: :hidden %>
            <%= f.input_field :end_date_picker, placeholder: "End Date",
                              class: 'form-control date reset' %>
            <%= f.input :end_date, as: :hidden %>
        </div>
        <div class="form-group">
          <%= f.submit "Search", name: "search", class: 'btn btn-primary' %>
          <%= f.submit "Reset", name: "reset", class: 'btn' %>
        </ div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="search-results" id="searchresults">
      </div>
    </div>
  </div>
  <hr class="dashboard">
  <div class="row">
    <div class="col-md-12">
      <h4>Last Updated 10 Disbursements</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>Draft</h4>
      <ul class="list-unstyled list-last-updated">
      <% if @drafts.each do |d| %>
        <li>
          <% editor = d.current_revision.user %>
          <%= link_to d.title, edit_disbursement_url(d) %><br>
          <small>Updated on <strong><%= l d.updated_at %></strong><%= " by #{editor.full_name}" if editor %></small>
        </li>
      <% end.empty? %>
        <li> No DRAFT disbursement available.</li>
      <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Initial</h4>
      <ul class="list-unstyled list-last-updated">
      <% if @initials.each do |p| %>
        <li>
          <% publisher = p.current_revision.user %>
          <%= link_to p.title, published_short_url(id: p.publication_id) %><br>
          <small>Updated on <strong><%= l p.updated_at %></strong><%= " by #{publisher.full_name}" if publisher %></small>
        </li>
      <% end.empty? %>
        <li>No INITIAL disbursement available.</li>
      <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h4>Final</h4>
      <ul class="list-unstyled list-last-updated">
      <% if @finals.each do |f| %>
        <li>
          <% editor = f.current_revision.user %>
          <%= link_to f.title, published_short_url(id: f.publication_id) %><br>
          <small>Updated on <strong><%= l f.updated_at %></strong><%= " by #{editor.full_name}" if editor %></small>
        </li>
      <% end.empty? %>
        <li>No FINAL disbursement available.</li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("input[name='reset']").on("click", function(e) {
      e.stopPropagation();
      cleanupTerminals();
      $("div#searchresults").empty();
      page = 1;
      $("input.reset").val("");
      $("select").val("");
      return false;
  });
  var page = 1;
  var toPage = function(p) {
    page = parseInt(p);
    setTimeout(doSearch, 0);
    return false;
  }
  var doSearch = function() {
      $("div#searchresults").empty();
      $("div#searchresults").append(
        '<div class="progress progress-striped active">'+
        '  <div class="bar" style="width: 100%;">Loading...</div>'+
        '</div>');
      $.ajax('/disbursements/search', {
        type: 'POST',
        data: {
          page: page-1,
          port_id: $("select#search_port").val(),
          terminal_id: $("select#search_terminal").val(),
          vessel_name: $("input#search_vessel_name").val(),
          cargo_type_id: $("select#search_cargo_type").val(),
          start_date: $("input#search_start_date").val(),
          end_date: $("input#search_end_date").val()
        },
        dataType: 'json',
        success: function(d) {
          $("div#searchresults").empty();
          if (d.count == 0) {
            $("div#searchresults").append('<div class=""><p>No Results</p></div>'); 
          } else {
            var prevLink = 'javascript:void(0)';
            var maxPage = parseInt(d.count/10.0+(d.count%10 == 0 ? 0 : 1));
            if (page > 1) {
              prevLink = 'toPage('+(page-1)+')';
            }
            var nextLink = 'javascript:void(0)';
            if (page < maxPage) {
              nextLink = 'toPage('+(page+1)+')';
            }
            var prevNext = '<div class="btn-group">'+
            '<button class="btn btn-default btn-xs'+((page > 1) ? "" : " disabled")+
            '" onclick="'+prevLink+'"><i class="glyphicon glyphicon-chevron-left"></i></button>'+
            '<button class="btn btn-default btn-xs'+((page < maxPage) ? "" : " disabled")+
            '" onclick="'+nextLink+'"><i class="glyphicon glyphicon-chevron-right"></i></button></div>';
            $("div#searchresults").append(
                '<div class="summary">'+
                  '<div class="search-nav">'+
                  'Page '+d.page+' of '+maxPage+'\n'+
                  prevNext+
                  '</div>'+
                  '<strong>'+d.count+' estimates found.'+
                '</div>');
            var ul = '<ul>';
            $.each(d.disbursements, function(i, e) {
              var rev = e.disbursement_revisions[0];
              var row = '<li>';
              switch (e.status_cd) {
                case 0: // DRAFT
                  row += '<a href="/disbursements/'+e.id+'/edit">';
                  row += 'DRAFT PFDA for '+rev.data.vessel_name+' in '+e.port.name;
                  row += ' ('+moment(e.updated_at).format('llll')+')';
                  row += '</a>';
                  break;
                case 1: // INITIAL
                  row += '<a href="/pfda/'+e.publication_id+'">';
                  row += 'INITIAL PFDA for '+rev.data.vessel_name+' in '+e.port.name;
                  row += ' ('+moment(e.updated_at).format('llll')+')';
                  row += '</a>';
                  break;
                case 3: // FINAL
                  row += '<a href="/pfda/'+e.publication_id+'">';
                  row += 'FINAL PFDA for '+rev.data.vessel_name+' in '+e.port.name;
                  row += ' ('+moment(e.updated_at).format('llll')+')';
                  row += '</a>';
                  break
                default:
                  row += rev.reference
                  break
              }
              row += '</li>';
              ul += row;
            });
            ul += '</ul>';
            $("div#searchresults").append(ul);
          }
        },
        error: function() {
          $("div#searchresults").empty();
          $("div#searchresults").append('<div class=""><p>Backend Error, please try again later</p></div>');
        }
      });
  }
  $("input[name='search']").on("click", function(e) {
      e.stopPropagation();
      page = 1;
      doSearch();
      return false;
  });
  $("input#search_start_date_picker").datepicker({
    dateFormat: "dd M yy",
    altField: "input#search_start_date",
    altFormat: "yy-mm-dd"
  });
  $("input#search_end_date_picker").datepicker({
    dateFormat: "dd M yy",
    altField: "input#search_end_date",
    altFormat: "yy-mm-dd"
  });
  var cleanupTerminals = function() {
      $("select#search_terminal").find("option").remove();
      $("select#search_terminal").append("<option value>Select a Terminal</option>");
  };
  var updateTerminals = function() {
    var portId = $("select#search_port").val();
    if (portId == "" || typeof portId == 'undefined') {
      cleanupTerminals();
      return;
    }
    $.ajax('/ports/'+portId+'/terminals.json', {
      type: 'GET',
      dataType: 'json',
      success: function(d) {
        cleanupTerminals();
        $.each(d, function(i, e) {
          $("select#search_terminal").append('<option value="' + e.id + '">' + e.name + '</option>');
        })
      }
    });
  }
  $("select#search_port").on("change", updateTerminals);
</script>
