<% content_for :navbar_buttons do %>
  <% if @terminal %>
    <%= link_to 'View', port_terminal_tariff_path(@port, @terminal, @tariff),
                class: "btn btn-default btn-sm" %>
    <%= link_to 'Back', port_terminal_tariffs_path(@port, @terminal),
                class: "btn btn-default btn-sm" %>
  <% else %>
    <%= link_to 'View', port_tariff_path(@port, @tariff),
                class: "btn btn-default btn-sm" %>
    <%= link_to 'Back', port_tariffs_path(@port),
                class: "btn btn-default btn-sm" %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <h2 class="title">Editing Tariff for <%= @port.name %><%= " / #{@terminal.name}" if @terminal %></h2>

    <%= render 'form' %>
  </div>
</div>
