<div class="container-fluid">
  <h1>Vessels</h1>

  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>LOA</th>
      <th>GRT</th>
      <th>NRT</th>
      <th>GWT</th>
      <th>Actions</th>
    </tr>

  <% @vessels.each do |vessel| %>
    <tr>
      <td><%= vessel.name %></td>
      <td><%= vessel.loa %></td>
      <td><%= vessel.grt %></td>
      <td><%= vessel.nrt %></td>
      <td><%= vessel.dwt %></td>
      <td>
        <div class="btn-group">
          <%= link_to 'Show', vessel, :class => 'btn btn-info btn-small' %>
          <%= link_to 'Edit', edit_vessel_path(vessel), :class => 'btn btn-small' %>
          <%= link_to 'Delete', vessel, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %>
        </div>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Vessel', new_vessel_path, :class => 'btn btn-primary' %>
</div>
