<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h2 class="title"><%= @vessel.name %></h2>
  <% ['dwt', 'grt', 'loa', 'nrt'].each do |k| %>
    <p><strong><%= k.upcase %>:</strong> <%= @vessel.send(k) %></p>
  <% end %>

  <div class="btn-group">
    <%= link_to 'Edit', edit_vessel_path(@vessel), :class => "btn btn-small" %>
    <%= link_to 'Back', vessels_path, :class => "btn btn-small" %>
  </div>
</div>
