<% unless @disbursement.appointment_id.nil? %>
  <% content_for :navbar_buttons do %>
    <a href="<%= @disbursement.aos_url %>"
       class="btn btn-primary"
       target="_blank">Open in AOS</a>
  <% end %>
<% end %>
<%= simple_form_for(@revision, url: disbursement_url(@disbursement),
                    method: :put,
                   wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row form-horizontal">
    <div class="col-md-4">
      <table class="table table-condensed table-bordered">
        <tbody>
          <tr>
            <th>Port</th>
            <td><%= @revision.data["port_name"] %></td>
          </tr>
          <% if @revision.data.has_key? 'terminal_name' %>
          <tr>
            <th>Terminal</th>
            <td><%= @revision.data["terminal_name"] %></td>
          </tr>
          <% end %>
          <tr>
            <th>Vessel</th>
            <td><%= @revision.data["vessel_name"] %></td>
          </tr>
          <tr>
            <th>GRT</th>
            <td><%= @revision.data["vessel_grt"] %></td>
          </tr>
          <tr>
            <th>NRT</th>
            <td><%= @revision.data["vessel_nrt"] %></td>
          </tr>
          <tr>
            <th>DWT</th>
            <td><%= @revision.data["vessel_dwt"] %></td>
          </tr>
          <tr>
            <th>LOA</th>
            <td><%= @revision.data["vessel_loa"] %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
    <%= f.input :voyage_number, label: 'Voyage Number' %>
    <%= f.input :eta, label: 'ETA', as: :hidden %>
    <%= f.input :eta_picker, label: 'ETA', as: :fake %>
    <%= f.association :cargo_type,
                      label: "Cargo Type",
                      collection: @cargo_types,
                      label_method: :display %>
    <%= f.input :cargo_qty, label: "Cargo Quantity" %>
    <%= f.input :company_name, label: "Principal", placeholder: "Search Principal",
                required: (not @disbursement.inquiry?),
                disabled: (not @disbursement.nomination_id.nil?),
                as: :fake, input_html: {value: (@disbursement.company.name rescue nil)} %>
    <input type="hidden"
           id="disbursement_company_id"
           name="disbursement[company_id]"
           value="<%= @disbursement.company_id %>" />
    </div>
    <div class="col-md-4">
    <%= f.input :loadtime, label: "Load Time (Hours)" %>
    <%= f.input :days_alongside, label: "Days Alongside" %>
    <%= f.input :tugs_in, label: "Tugs In" %>
    <%= f.input :tugs_out, label: "Tugs Out" %>
    <%= f.input :tax_exempt, label: "Tax Exempt" %>
    </div>
    <div class="clearfix"></div>
    </div>
    <h4>Services</h4>
    <div class="overriden">
    </div>

    <div class="table-responsive">
    <table class="disbursement table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Amount (<%= @revision.data["currency_code"] %>)</th>
          <th class="tax_inc tax">Amount (<%= @revision.data["currency_code"] %>) Tax Included</th>
          <th>Disable</th>
        </tr>
      </thead>
      <tbody>
        <% @revision.field_keys.each do |k| %>
          <tr class="service<% if not @revision.compulsory?(k) and @revision.disabled?(k) %> muted<% end %>" id="service_<%= k %>">
            <th>
              <%= @revision.descriptions[k] %>
              <% if k.starts_with? "EXTRAITEM" %>
                &nbsp;<i class="glyphicon glyphicon-remove-circle" onclick="removeExtra('<%= k %>')"></i>
              <% end %>
              &nbsp;<span class="editable_value" id="comment_<%= k %>"><%= @revision.comments[k] rescue '' %></span>
            </th>
            <td id="service_<%= k %>">
              <a class="editable_value" id="field_<%= k %>" title="Click to override" href="#"></a>&nbsp;<i class="hidden glyphicon glyphicon-remove-circle" onclick="revertValue('<%= k %>')"></i>
              <input type="hidden" name="overriden_<%= k %>"
              <% if @revision.overriden.has_key?(k) %>
                     value="<%= @revision.overriden[k] %>"
              <% end %>
              />
              <input type="hidden" name="value_<%= k %>" />
              <input  type="hidden" name="value_with_tax_<%= k %>" />
              <input  type="hidden" name="comment_<%= k %>" value="<%= @revision.comments[k] %>"/>
              <input  type="hidden" name="disabled_<%= k %>" value="<%= @revision.disabled?(k) ? "1" : "0" %>" />
            </td>
            <td id="service_with_tax_<%= k %>" class="tax"></td>
            <td><% unless @revision.compulsory?(k) %><input class="disable" type="checkbox" name="disable_<%= k %>" <% if @revision.disabled?(k) %>checked="checked"<% end %> /><% end %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td class="form-inline">
            <div class="form-group">
              <input id="extra_item" class="form-control extra-item" />
            </div>
            <div class="checkbox">
              <label>
                Tax Applies: <input type="checkbox" id="extra_tax_applies" />
              </label>
            </div>
          </td>
          <td><a id="add_item" class="btn btn-default btn-sm btn-success" href="javascript:void(0)">Add Item</a></td>
          <td class="tax"></td>
          <td></td>
        </tr>
        <tr>
          <th>TOTAL</th>
          <th class="total"></th>
          <th class="total_tax_inc tax"></th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    </div>

  <div class="form-actions">
    <%= f.submit "Save PDA", class: "btn btn-primary" %>
    <% if @revision.number == 0 %>
    <%= link_to "Cancel",
                @disbursement,
                method: :delete,
                class: "btn btn-default" %>
    <% else %>
    <%= link_to "Cancel", disbursements_path, class: "btn btn-default" %>
    <% end %>
  </div>
<% end %>
<script type="text/javascript">
  var convert = function(n) {
    return numberToCurrency(parseFloat(n), {unit: '<%= @revision.data["currency_symbol"] %>'});
  };
  <%= @revision.context.html_safe %>
  var pfda = {
    revisionId: <%= @revision.id %>,
    numItems: <%= @revision.field_keys.count %>,
    cargoTypes: {
    <% @cargo_types.each do |ct| %>
      "<%= ct.id %>": <%= ct.to_json.html_safe %><%= "," unless ct == @cargo_types.last %>
    <% end %>
    }
  };
  var setup = function() {
    setupDA(pfda, ctx);
  }
  $(document).ready(setup);
  $(document).on('page:load', setup);
  $("#company_name").typeahead(null, {
    name: 'principal',
    displayKey: 'name',
    source: getPrincipalsBH().ttAdapter()
    }).on('typeahead:selected', function(e, datum) {
      $("#disbursement_company_id").val(datum.id);
    });
</script>
