<div class="col-md-4">
<%= simple_form_for(@disbursement,
                    html: {class: 'form-horizontal'},
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                      boolean: :horizontal_boolean
                    }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :type_cd,
                label: 'Type',
                collection: {
                  "Standard" => 0,
                  "Owners Husbandry" => 1,
                  "Bunker Call" => 2,
                  "Cleaning" => 3,
                  "Spare Parts" => 4,
                  "Other" => 5
                }
    %>
    <%= f.association :port,
                      collection: current_user.authorized_ports.all.to_a %>
    <%= f.association :terminal,
                      label: '<i class="fa terminal-spinner fa-spinner fa-spin"></i> Terminal'.html_safe %>
    <%= f.input :company_name, label: "Principal", placeholder: "Search Principal",
                required: (not @disbursement.inquiry?),
                as: :fake,
                input_html: {value: params[:company_name]} %>
    <%= f.input :company_id, as: :hidden %>
    <%= f.input :status_cd, as: :hidden %>
    <%= f.input :vessel_name, label: "Vessel", placeholder: "Search for Vessel",
                required: (not @disbursement.tbn?),
                as: :fake,
                input_html: {value: params[:vessel_name]} %>
    <%= f.input :vessel_id, as: :hidden %>
    <%= f.input :tbn, label: 'TBN' %>
  </div>
  <div class="form-group tbn_fields">
    <%= f.input :tbn_template,
                label: 'Template',
                collection: ['VLOC CAPESIZE', 'CAPESIZE', 'PANAMAX',
                             'HANDYMAX', 'SUPRAMAX', 'HANDYSIZE'],
                prompt: 'Select TBN template...' %>
    <%= f.input :grt, label: 'GRT' %>
    <%= f.input :nrt, label: 'NRT' %>
    <%= f.input :dwt, label: 'DWT' %>
    <%= f.input :loa, label: 'LOA' %>
  </div>
  <div class="form-group">
    <div class="form-group select optional">
      <label class="select optional col-sm-3 control-label"
             for="disbursement_nomination_id">
        <i class="fa nomination-spinner fa-spinner fa-spin"></i> Nomination
      </label>
      <div class="col-sm-9">
        <select class="select optional form-control"
                id="disbursement_nomination_id"
                name="disbursement[nomination_id]">
          <option value=""></option>
        </select>
        <input type="hidden" id="disbursement_appointment_id" name="disbursement[appointment_id]" value="<%= @disbursement.appointment_id %>"></input>
      </div>
    </div>
  </div>
  <%= f.button :submit, 'Next' %>
<% end %>
</div>
<script type="text/javascript">
  var nominations = {};
  var nominationId = <%= @disbursement.nomination_id.to_json %>;
  var updateNominations = function() {
    $("i.nomination-spinner").fadeIn();
    $("select#disbursement_nomination_id").attr('disabled', true);
    var port = $("select#disbursement_port_id").find("option:selected").html();
    var principal = $("input#company_name").val();
    var vessel = $("input#vessel_name").val();
    $.ajax('/disbursements/nominations.json', {
      type: 'POST',
      dataType: 'json',
      data: {
        port: port,
        vessel: vessel,
        company: principal
      },
      success: function(d) {
        nominations = {};
        $("i.fa-spinner").fadeOut();
        $("select#disbursement_nomination_id").find("option").remove();
        $("select#disbursement_nomination_id").append('<option value></option>');
        $.each(d.data.nomination, function(i, e) {
          nominations[e.id] = e;
          var selected = e.id == nominationId ? 'selected ' : '';
          $("select#disbursement_nomination_id").append(
            '<option '+selected+'value="' + e.id + '">' + e.text + '</option>');
        });
        $("select#disbursement_nomination_id").removeAttr('disabled');
      }
    });
  };
  $("select#disbursement_nomination_id").on('change', function() {
    nominationId = $(this).val();
    $("input#disbursement_appointment_id").val(nominations[$(this).val()].appointmentId);
  });
  var updateFields = function() {
    if ($("input#disbursement_tbn").is(':checked')) {
     $("div.tbn_fields").show();
     $("select#disbursement_vessel_id").attr("disabled", "disabled");
    } else {
     $("div.tbn_fields").hide();
     $("select#disbursement_vessel_id").removeAttr("disabled");
    }
  };
  $("input#disbursement_tbn").on("change", updateFields);
  var updateTerminals = function() {
    $("i.terminal-spinner").fadeIn();
    var portId = $("select#disbursement_port_id").val();
    if (portId == "") {
      $("select#disbursement_terminal_id").find("option").remove();
      $("i.terminal-spinner").fadeOut();
      return;
    }
    $.ajax('/ports/'+portId+'/terminals.json', {
      type: 'GET',
      dataType: 'json',
      success: function(d) {
        $("i.terminal-spinner").fadeOut();
        $("select#disbursement_terminal_id").find("option").remove();
        $("select#disbursement_terminal_id").append('<option value></option>');
        $.each(d, function(i, e) {
          $("select#disbursement_terminal_id").append(
            '<option value="' + e.id + '">' + e.name + '</option>');
        })
      }
    });
  }
  $("select#disbursement_port_id").on("change", function() {
    updateTerminals();
    updateNominations();
  });
  var TBNTemplates = {
    'VLOC CAPESIZE': {
      grt: 112000,
      nrt: 55000,
      dwt: 228000,
      loa: 325
    },
    'CAPESIZE': {
      grt: 87500,
      nrt: 55000,
      dwt: 175000,
      loa: 290
    },
    'PANAMAX': {
      grt: 40600,
      nrt: 25000,
      dwt: 75000,
      loa: 225
    },
    'SUPRAMAX': {
      grt: 33500,
      nrt: 19000,
      dwt: 58000,
      loa: 194
    },
    'HANDYMAX': {
      grt: 30000,
      nrt: 16000,
      dwt: 45000,
      loa: 190
    },
    'HANDYSIZE': {
      grt: 19681,
      nrt: 10849,
      dwt: 32000,
      loa: 183
    }
  };
  $("select#disbursement_vessel_id").on("change", updateNominations);
  $("select#disbursement_tbn_template").on("change", function() {
    var template = TBNTemplates[$(this).val()];
    if (!template) return;
    $.each(['grt', 'nrt', 'dwt', 'loa'], function(i, e) {
      $("input#disbursement_"+e).val(template[e]);
    });
  });
  updateFields();
  updateTerminals();
  updateNominations();
  $("#company_name").typeahead(null, {
    name: 'principal',
    displayKey: 'name',
    source: getBloodhoundFor('companies').ttAdapter()
  }).on('typeahead:selected', function(e, datum) {
    $("#disbursement_company_id").val(datum.id);
    updateNominations();
  });
  $("#vessel_name").typeahead(null, {
    name: 'vessel',
    displayKey: 'name',
    source: getBloodhoundFor('vessels').ttAdapter()
  }).on('typeahead:selected', function(e, datum) {
    $("#disbursement_vessel_id").val(datum.id);
    updateNominations();
  });
</script>
