<div class="col-md-6">
<h2 class="title">PDA Parameters</h2>
<%= simple_form_for(@disbursement,
                    html: {class: 'form-horizontal'},
                    wrapper: :horizontal_form,
                    wrapper_mappings: {
                      check_boxes: :horizontal_radio_and_checkboxes,
                      boolean: :horizontal_boolean
                    }) do |f| %>
  <%= f.error_notification %>

  <% if defined?@message %>
    <div class="alert alert-warning">
      <h4>
        <%= @message %> <strong><a href="<%= edit_disbursement_url(@existing_disbursement) %>">here</a></strong>
      </h4>
      <p>
        Do you want to create a new one anyway?
        <button class="btn btn-warning" id="force-create">yes</button>
      </p>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :type_cd,
                label: 'Type',
                collection: {
                  "Standard" => 0,
                  "Owners Husbandry" => 1,
                  "Bunker Call" => 2,
                  "Cleaning" => 3,
                  "Spare Parts" => 4,
                  "Blank" => 6
                }
    %>
    <%= f.association :port,
                      prompt: 'Please select a Port',
                      collection: current_user.authorized_ports.all.to_a %>
    <%= f.association :terminal,
                      required: (["mariteam", "casper"].member? current_tenant.customer_name),
                      prompt: 'Please select a Terminal',
                      label: '<i class="fa terminal-spinner fa-spinner fa-spin"></i> Terminal'.html_safe %>
    <%= f.input :company_name, label: "Principal", placeholder: "Type to search for Principal",
                required: (not @disbursement.inquiry?),
                as: :fake,
                input_html: {value: params[:company_name]} %>
    <%= f.input :company_id, as: :hidden %>
    <%= f.input :status_cd, as: :hidden %>
    <%= f.input :vessel_name, label: "Vessel", placeholder: "Type to search for Vessel",
                required: (not @disbursement.tbn?),
                as: :fake,
                input_html: {value: params[:vessel_name]} %>
    <%= f.input :vessel_id, as: :hidden %>
    <% if @disbursement.inquiry? %>
    <%= f.input :tbn, label: 'TBN', as: :boolean %>
    <% else %>
    <%= f.input :tbn, label: 'TBN', as: :hidden %>
    <% end %>
  </div>
  <div class="form-group tbn_fields">
    <%= f.input :tbn_template,
                label: 'Template',
                collection: ['DWT 82000', 'DWT 93000', 'DWT 132000',
                             'DWT 151000', 'DWT 180000',
                             'VLOC CAPESIZE', 'CAPESIZE', 'PANAMAX',
                             'HANDYMAX', 'SUPRAMAX', 'HANDYSIZE'],
                prompt: 'Select TBN template...' %>
    <%= f.input :vessel_type, label: "Vessel Type",
          prompt: '',
          collection: VesselType.order("vessel_type").select("DISTINCT(vessel_type)").map { |vt| vt.vessel_type } %>
    <%= f.input :vessel_subtype,
      label: 'Vessel Subtype',
      collection: [] %>
    <%= f.input :grt, label: 'GRT' %>
    <%= f.input :nrt, label: 'NRT' %>
    <%= f.input :dwt, label: 'DWT' %>
    <%= f.input :loa, label: 'LOA (metres)' %>
    <%= f.input :sbt_certified, label: "SBT Certified", as: :boolean %>
  </div>
  <input type="hidden" id="disbursement_nomination_id"
         name="disbursement[nomination_id]"
         value="<%= @disbursement.nomination_id %>" />
  <input type="hidden" id="disbursement_appointment_id"
         name="disbursement[appointment_id]"
         value="<%= @disbursement.appointment_id %>" />
  <input type="hidden" id="disbursement_nomination_reference"
         name="disbursement[nomination_reference]"
         value="<%= @disbursement.nomination_reference %>" />
  <input type="hidden" id="disbursement_force_create" name="disbursement[force_create]" value="false">
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, 'Next' %>
    </div>
  </div>
<% end %>
</div>
<% unless @disbursement.inquiry? %>
<div class="col-md-6">
  <h2>Matching Nominations <i class="fa nomination-spinner fa-spinner fa-spin"></i></h2>
  <div class="nominations">Refreshing data, please wait...</div>
</div>
<% end %>
<script type="text/javascript">
  var nominations = {};
  var nominationId = <%= @disbursement.nomination_id.to_json %>;
  var page = 1;
  var toPage = function(p) {
    page = parseInt(p);
    setTimeout(updateNominations, 0);
    return false;
  };
  var foundNominations = function(n) {
    if (n == 0) {
      return "No nomination found.";
    } else if (n == 1) {
      return "1 nomination found.";
    }
    return n+" nominations found.";
  };
  var selectNomination = function(id) {
    $(".nominations li").removeClass("selected");
    $("li#nom_"+id).addClass("selected");
    nominationId = id;
    $("input#disbursement_appointment_id").val(nominations[id].appointmentId);
    $("input#disbursement_nomination_id").val(id);
    setTimeout(function() {nominationDetails(id);}, 0);
  };
  var nominationDetails = function(id) {
    $.ajax('/api/nomination_details.json', {
      type: 'POST',
      dataType: 'json',
      data: {
        nomination_id: nominationId
      },
      success: function(d) {
        if (d.port_id
            && d.port_id != $("select#disbursement_port_id").val()) {
          $("select#disbursement_port_id").val(d.port_id);
          setTimeout(updateTerminals, 0);
        }
        if (d.vessel_id) {
          $("input#disbursement_vessel_id").val(d.vessel_id);
          $("input#vessel_name").val(d.vessel_name);
        } else {
          $("input#disbursement_vessel_id").val(null);
          $("input#vessel_name").val("");
        }
        if (d.company_id) {
          $("input#disbursement_company_id").val(d.company_id);
          $("input#company_name").val(d.company_name);
        } else {
          $("input#disbursement_company_id").val(null);
          $("input#company_name").val("");
        }
        $("input#disbursement_nomination_reference")
            .val(d.nomination_reference);
        $('input[type="submit"]').removeAttr('disabled');
      }
    });
  };
  var updateNominations = function() {
    <% unless @disbursement.inquiry? %>
    $('input[type="submit"]').attr('disabled', true);
    <% end %>
    $("i.nomination-spinner").fadeIn();
    var port = $("select#disbursement_port_id").find("option:selected").html();
    if (port == "Please select a Port") port = "";
    var principal = $("input#company_name").val();
    var vessel = $("input#vessel_name").val();
    $.ajax('/api/nominations.json', {
      type: 'POST',
      dataType: 'json',
      data: {
        page: page-1,
        port: port,
        vessel: vessel,
        company: principal
      },
      success: function(d) {
        page = d.data.page+1;
        $("div.nominations").empty()
        if (d.data.count == 0) {
          $("div.nominations").append("<p>No matching Nomination</p>");
        } else {
          var prevLink = 'javascript:void(0)';
          var maxPage = parseInt(d.data.count/10.0+(d.data.count%10 == 0 ? 0 : 1));
          if (page > 1) {
            prevLink = 'toPage('+(page-1)+')';
          }
          var nextLink = 'javascript:void(0)';
          if (page < maxPage) {
            nextLink = 'toPage('+(page+1)+')';
          }
          var prevNext = '<div class="btn-group">'+
            '<button type="button"class="btn btn-default btn-xs'+((page > 1) ? "" : " disabled")+
            '" onclick="'+prevLink+'"><i class="glyphicon glyphicon-chevron-left"></i></button>'+
            '<button type="button" class="btn btn-default btn-xs'+((page < maxPage) ? "" : " disabled")+
            '" onclick="'+nextLink+'"><i class="glyphicon glyphicon-chevron-right"></i></button></div>';
          $("div.nominations").append(
            '<div class="summary">'+
              '<div class="pull-right">'+
              'Page '+(page)+' of '+maxPage+'\n'+
              prevNext+
              '</div>'+
              '<strong>'+foundNominations(d.data.count)+'</strong>'+
            '</div><div class="clearfix"></div>');
        }
        nominations = {};
        $("i.fa-spinner").fadeOut();
        var pane = '<ul>';
        $.each(d.data.nomination, function(i, e) {
          nominations[e.id] = e;
          pane += '<li class="nomination'+(e.id == nominationId ? ' selected' : '')+'" id="nom_'+e.id+
                    '" onclick="selectNomination('+e.id+')">'+e.text+'</li>'
        });
        pane += '</ul>';
        $("div.nominations").append(pane);
        if (nominationId) {
          $('input[type="submit"]').removeAttr('disabled');
        }
      }
    });
  };
  var updateFields = function() {
    if ($("input#disbursement_tbn").is(':checked')) {
     $("div.tbn_fields").show();
     $("input#disbursement_vessel_id").attr("disabled", "disabled");
    } else {
     $("div.tbn_fields").hide();
     $("input#disbursement_vessel_id").removeAttr("disabled");
    }
  };
  $("input#disbursement_tbn").on("change", updateFields);
  var updateTerminals = function() {
    $("i.terminal-spinner").fadeIn();
    $("select#disbursement_terminal_id").attr("disabled", "disabled");
    $("select#disbursement_terminal_id").find("option").remove();
    $("select#disbursement_terminal_id").append('<option value>Please select a Terminal</option>');
    var portId = $("select#disbursement_port_id").val();
    if (portId == "") {
      $("i.terminal-spinner").fadeOut();
      return;
    }
    $.ajax('/ports/'+portId+'/terminals.json', {
      type: 'GET',
      dataType: 'json',
      success: function(d) {
        $("i.terminal-spinner").fadeOut();
        $.each(d, function(i, e) {
          $("select#disbursement_terminal_id").append(
            '<option value="' + e.id + '">' + e.name + '</option>');
        })
        if (d.length > 0) {
          $("select#disbursement_terminal_id").removeAttr("disabled");
        }
      }
    });
  }
  var updateVesselSubtypes = function() {
    $("div.disbursement_vessel_subtype").attr("hidden", "hidden");
    $("select#disbursement_vessel_subtype").val(null);
    var vesselType = $("select#disbursement_vessel_type").val();
    $.ajax('/vessel_types/vessel_subtype?vessel_type='+vesselType, {
      type: 'GET',
      dataType: 'json',
      success: function(subTypes) {
        $.each(subTypes, function(i, subType) {
          $("select#disbursement_vessel_subtype").append(
            '<option value="' + subType + '">' + subType + '</option>');
        })
        if (subTypes.length > 0) {
          $("div.disbursement_vessel_subtype").removeAttr("hidden");
        }
      },
    });
  }
  $("select#disbursement_port_id").on("change", function() {
    updateTerminals();
    page = 1;
    updateNominations();
  });
  var TBNTemplates = {
    'VLOC CAPESIZE': {
      grt: 112000,
      nrt: 55000,
      dwt: 228000,
      loa: 325,
      sbt_certified: false,
    },
    'CAPESIZE': {
      grt: 87500,
      nrt: 55000,
      dwt: 175000,
      loa: 290,
      sbt_certified: false,
    },
    'PANAMAX': {
      grt: 40600,
      nrt: 25000,
      dwt: 75000,
      loa: 225,
      sbt_certified: false,
    },
    'SUPRAMAX': {
      grt: 33500,
      nrt: 19000,
      dwt: 58000,
      loa: 194,
      sbt_certified: false,
    },
    'HANDYMAX': {
      grt: 30000,
      nrt: 16000,
      dwt: 45000,
      loa: 190,
      sbt_certified: false,
    },
    'HANDYSIZE': {
      grt: 19681,
      nrt: 10849,
      dwt: 32000,
      loa: 183,
      sbt_certified: false,
    },
    'DWT 82000': {
      grt: 45000,
      nrt: 30000,
      dwt: 82000,
      loa: 240,
      sbt_certified: false,
    },
    'DWT 93000': {
      grt: 50000,
      nrt: 35000,
      dwt: 93000,
      loa: 245,
      sbt_certified: false,
    },
    'DWT 132000': {
      grt: 70000,
      nrt: 40000,
      dwt: 132000,
      loa: 270,
      sbt_certified: false,
    },
    'DWT 151000': {
      grt: 80000,
      nrt: 50000,
      dwt: 151000,
      loa: 280
    },
    'DWT 180000': {
      grt: 92000,
      nrt: 60000,
      dwt: 180000,
      loa: 295,
      sbt_certified: false,
    }
  };
  $("select#disbursement_vessel_id").on("change", function() {
    page = 1;
    updateNominations();
  });
  $("select#disbursement_tbn_template").on("change", function() {
    var template = TBNTemplates[$(this).val()];
    if (!template) return;
    $.each(['grt', 'nrt', 'dwt', 'loa'], function(i, e) {
      $("input#disbursement_"+e).val(template[e]);
    });
    $("input#disbursement_sbt_certified").prop('checked', template['sbt_certified']);
  });
  $("select#disbursement_vessel_type").on("change", function() {
    updateVesselSubtypes();
  });
  updateFields();
  updateTerminals();
  updateVesselSubtypes();
  updateNominations();
  $("#company_name").typeahead(null, {
    name: 'principal',
    displayKey: 'name',
    source: getBloodhoundFor('companies').ttAdapter()
  }).on('typeahead:selected', function(e, datum) {
    $("#disbursement_company_id").val(datum.id);
    page = 1;
    updateNominations();
  });
  $("#vessel_name").typeahead(null, {
    name: 'vessel',
    displayKey: 'name',
    source: getBloodhoundFor('vessels').ttAdapter()
  }).on('typeahead:selected', function(e, datum) {
    $("#disbursement_vessel_id").val(datum.id);
    page = 1;
    updateNominations();
  });

  $("#force-create").on('click', function (e) {
    e.preventDefault();
    $("#disbursement_force_create").val(true);
    $("form").submit();
  });

</script>
