<div class="container-fluid">
  <h2>Access Log</h2>
<% if @disbursement.current_revision.views.empty? %>
  <div class="alert">
    No View Details Available
  </div>
<% else %>
  <div class="row-fluid">
    <div class="span3"><strong>Date</strong></div>
    <div class="span6"><strong>Browser</strong></div>
    <div class="span3"><strong>View Type</strong></div>
  </div>
  <% @disbursement.current_revision.views.each do |v| %>
    <div class="row-fluid">
      <div class="span3">
        <%= l v.created_at %>
      </div>
      <div class="span6">
        <span title="<%= v.user_agent %>"><%= v.browser %> <%= v.browser_version %></span>
      </div>
      <div class="span3">
        <%= v.pdf? ? "Print" : "View" %>
      </div>
    </div>
  <% end %>
<% end %>
</div>
