<!--

<style>
html, body { background: #56c48d url(bg_login.jpg) center center no-repeat; background-size: cover; }
.login-form-bg { background: rgba(0,0,0,0.25); }
.login-form { width: 300px; margin: 0 auto; padding: 40px 0 60px; }
.login-form .title { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; font-size: 48px; color: /*#56c48d*/ #fff; text-align: center; }

.login-field { margin-bottom: 1px; clear: both; }
.login-field label { height: 32px; width: 32px; margin: 0; background: #666; color: #fff; line-height: 32px; text-align: center; display: block; float: left; }
.login-field input { width: 268px; height: 32px; padding: 5px; background: #fff; border: none; }

.login-form .login-submit { margin-top: 10px; clear: both; }
.login-form input[type='submit'] { height: 32px; padding: 5px 20px; background: #3aceff; border: none; color: #fff; text-align: center; }
.login-form .support { line-height: 32px; float: right; }
.login-form .support a { color: #fff; }

</style>
-->

<div class="btn-group"></div>
<div class="row login-form-bg">
  <div class="col-md-12">
    <% unless (browser.ie? and
               browser.version.to_i < 10 and params[:force].nil?) %>
    <div id="login" class="container">
      <div class="login-form">

        <h2 class="title"><%= ProformaDA::Application.config.tenant_name %> Estimates</h2>
<!--
        <div class="login-field">
          <label><i class="fa fa-user"></i></label>
          <input type="text" placeholder="Username">
        </div>
        <div class="login-field">
          <label><i class="fa fa-lock"></i></label>
          <input type="text" placeholder="Password">
        </div>
        <div class="login-submit">
          <div class="support">
            <a href="https://stage3systems.zendesk.com/home">Trouble logging in?</a>
          </div>
          <input type="submit" value="Log In">
        </div>
-->

        <% flash.each do |name, msg| %>
          <% unless name == :timedout or msg.class != String %>
          <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
            <a hred="#" class="close" data-dismiss="alert">×</a>
              <%= msg %>
            </a>
          </div>
          <% end %>
        <% end %>
        <%= simple_form_for(resource, :as => resource_name,
                            :url => session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :login, label: "Username",
                        required: false, autofocus: true %>
            <%= f.input :password, required: false %>
            <%= f.input(:remember_me,
                        as: :boolean) if devise_mapping.rememberable? %>
            <div class="form-group">
              <div class="controls">
                <a href="https://stage3systems.zendesk.com/home">Trouble logging in?</a>
              </div>
          </div>
          <div class="form-actions">
              <%= f.button :submit, "Log In", :class => 'btn-primary' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
    <% else %>
    <div class="col-md-10 col-md-offset-1 well browsers">
      <h2 class="title">Please Upgrade Your Browser</h2>
      <p>This service uses the latest web technologies to make it faster
         and easier to use.
         Unfortunately, your browser does not support these technologies.</p>
         <p>Please download or upgrade to one of the following browsers and
            you will be on your way.</p>

      <ul class="row">
        <li class="col-md-6 ff">
          <a href="http://www.mozilla.org/en-US/firefox/new/"
             target="_blank">
            <span>Mozilla Firefox</span> Version 4 or higher
          </a>
        </li>
        <li class="col-md-6 safari">
          <a href="http://support.apple.com/kb/dl1531"
             target="_blank">
            <span>Apple Safari</span> Version 5 or higher
          </a>
        </li>
      </ul>
      <ul class="row">
        <li class="col-md-6 chrome">
          <a href="https://www.google.com/intl/en/chrome/browser/"
             target="_blank">
            <span>Google Chrome</span> Version 4 or higher
        </a>
        </li>
        <li class="col-md-6 ie">
          <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie"
             target="_blank">
            <span>Internet Explorer</span> Version 10 or higher
         </a>
        </li>
      </ul>

      <p class="ignore-browser">
        <%= link_to "I know what I'm doing, let me in »",
                    new_user_session_path(force: 1) %></p>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
window.toggle_login = function() {
  $("div.browser-upgrade").hide();
  $("div.login").show();
};
</script>
