<div class="btn-group"></div>
<div class="row-fluid">
  <div class="span12">
    <% unless (browser.ie? and
               browser.version.to_i < 10 and params[:force].nil?) %>
    <div id="login">
      <div class="well" style="margin: 0 auto; width: 420px;">
        <h2 class="title">Log In</h2>

        <%= simple_form_for(resource, :as => resource_name,
                            :url => session_path(resource_name),
                            :html => {:class => 'form-horizontal'}) do |f| %>
          <div class="form-inputs">
            <%= f.input :login, :required => false, :autofocus => true %>
            <%= f.input :password, :required => false %>
            <%= f.input(:remember_me,
                        :as => :boolean) if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
              <%= f.button :submit, "Log In", :class => 'btn-primary' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
    <% else %>
    <div class="span10 offset1 well browsers">
      <h2 class="title">Please Upgrade Your Browser</h2>
      <p>This service uses the latest web technologies to make it faster
         and easier to use.
         Unfortunately, your browser does not support these technologies.</p>
         <p>Please download or upgrade to one of the following browsers and
            you will be on your way.</p>

      <ul class="row-fluid">
        <li class="span6 ff">
          <a href="http://www.mozilla.org/en-US/firefox/new/"
             target="_blank">
            <span>Mozilla Firefox</span> Version 4 or higher
          </a>
        </li>
        <li class="span6 safari">
          <a href="http://support.apple.com/kb/dl1531"
             target="_blank">
            <span>Apple Safari</span> Version 5 or higher
          </a>
        </li>
      </ul>
      <ul class="row-fluid">
        <li class="span6 chrome">
          <a href="https://www.google.com/intl/en/chrome/browser/"
             target="_blank">
            <span>Google Chrome</span> Version 4 or higher
        </a>
        </li>
        <li class="span6 ie">
          <a href="http://windows.microsoft.com/en-US/internet-explorer/download-ie"
             target="_blank">
            <span>Internet Explorer</span> Version 10 or higher
         </a>
        </li>
      </ul>

      <p class="ignore-browser">
        <%= link_to "I know what I'm doing, let me in »",
                    new_user_session_path(force: 1) %></p>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
window.toggle_login = function() {
  $("div.browser-upgrade").hide();
  $("div.login").show();
};
</script>
