<% content_for :navbar_buttons do %>
  <%= link_to 'New Terminal', new_port_terminal_path,
              :class => 'btn btn-primary btn-sm' %>
<% end %>
<div class="row">
  <div class="col-md-12">
  <h2 class="title">Terminals for <%= @port.name %></h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tariffs</th>
        <th>Services</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @terminals.each do |terminal| %>
      <tr>
        <td><%= link_to terminal.name, port_terminal_path(@port, terminal) %></td>
        <td class="right-align"><%= link_to terminal.tariffs.count.to_s, port_terminal_tariffs_path(@port, terminal)  %></td>
        <td class="right-align"><%= link_to terminal.services.count.to_s, port_terminal_services_path(@port, terminal)  %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit Services',
                        port_terminal_services_path(@port, terminal),
                        class: 'btn btn-default btn-sm'  %>
            <%= link_to icon(:pencil),
                        edit_port_terminal_path(@port, terminal),
                        class: 'btn btn-default btn-sm', title: 'Edit' %>
            <%= link_to icon(:trash), port_terminal_path(@port, terminal),
                        method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'btn btn-danger btn-sm', title: 'Delete' %>
          </div>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
    $("table.table").dataTable({bSort: false, bPaginate: false});
</script>
