<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1><%= @tax.name %></h1>
  <p>Code: <%= @tax.code %><br />Rate: <%= @tax.rate %> (<%= (@tax.rate-1)*100 %>%)</p>

  <div class="btn-group">
    <%= link_to 'Edit', edit_tax_path(@tax), :class => "btn btn-small" %>
    <%= link_to 'Back', taxes_path, :class => "btn btn-small" %>
  </div>
</div>
