<div>
Please click on the link below to view the requested port disbursement inquiry for the <%= doc.vessel_name %> calling <%= doc.terminal_name %> in the port of <%= doc.port_name %>. You can download a PDF version of the estimate by clicking the link below (no log in required).
<br>
<br>
<% url = "#{root_url}/pda/#{doc.disbursement.publication_id}" %>
<a href="<%= url %>"><%= url %></a>
<br>
<br>
For inquires relating to this estimate, please contact our local port office:<br>
<br>
Biehl & Co. – <%= doc.from %><br>
<% doc.office_address_lines.each do |line| %>
  <%= line %><br>
<% end %>
<%= doc.office_email %><br>
<br>
<%= doc.office_phone %><br>
<br>
</div>

