<a class="btn btn-default btn-sm<%= " disabled" if disbursement.draft? %>"
   <% unless disbursement.draft? %>
   title="Send a Link By Email"
   href="mailto:<%= disbursement.company.email %>?subject=<%= ERB::Util.url_encode("#{disbursement.vessel_name} calling at #{disbursement.port.name}") %>&body=<%= ERB::Util.url_encode(<<BODY
Please click on the link below to view the requested Proforma Disbursement Account for #{disbursement.vessel_name} calling at #{disbursement.port.name}.
You can download a PDF file view of the estimate from this link (no log in required).

#{published_short_url(disbursement.publication_id)}

Please remit funds at least two (2) days prior to vessels arrival to the following Bank Account:

ANZ Bank Ltd
7 Queen Street
Fremantle, Western Australia

SWIFT Code: ANZBAU3M
BSB Number: 016-307
A/C Number: 1077-33669
A/C Name: Monson Agencies Australia Pty Ltd

Download the full Terms and Conditions:
#{root_url}#{ProformaDA::Application.config.tenant_terms}

For enquires relating to this Estimate please contact our local Port Office:

#{disbursement.office.name rescue config.company_name}
#{disbursement.office.address_1 rescue config.company_address1}
#{disbursement.office.address_2 rescue config.company_address2}
#{disbursement.office.address_3 rescue ""}
#{disbursement.office.email rescue ProformaDA::Application.config.tenant_default_email}

BODY
)
%>"
   <% else %>
   href="#"
   <% end %>
>
  <%= icon('envelope') %>
</a>
