Please click on the link below to view the requested <%= doc.title.titleize %> for <%= doc.vessel_name %> calling at <%= doc.port_name %>.
You can download a PDF file view of the estimate from this link (no log in required).<br>
<br>
<% url = "#{root_url}pda/#{doc.disbursement.publication_id}" %>
<a href="<%= url %>"><%= url %></a>
<br>
<br>
For enquiries relating to this Estimate please contact our local Port Office:<br>
<br>
<%= doc.disbursement.office.name rescue config.company_name %><br>
<%= doc.disbursement.office.address_1 rescue config.company_address1 %><br>
<%= doc.disbursement.office.address_2 rescue config.company_address2 %><br>
<%= doc.disbursement.office.address_3 rescue "" %><br>
<% email = doc.disbursement.office.email rescue tenant.default_email %>
<a href="mailto:<%= email %>"><%= email %></a>
<br>
