<a class="btn btn-default <%= button rescue 'button-sm' %><%= " disabled" if doc.disbursement.draft? %>"
   <% unless doc.disbursement.draft? %>
   title="Send a Link By Email"
   href="mailto:<%= doc.company_email %>?subject=<%= ERB::Util.url_encode("#{doc.vessel_name} calling at #{doc.port_name}") %>&body=<%= ERB::Util.url_encode(<<BODY
Please click on the link below to view the requested #{doc.title.titleize} for #{doc.vessel_name} calling at #{doc.port_name}.
You can download a PDF file view of the estimate from this link (no log in required).

#{published_short_url(doc.disbursement.publication_id)}

PREFUNDING STATUS
#{doc.funding_data(true).map {|d| (d[:value] rescue d) }.join("\n")}

Download the full Terms and Conditions:
#{root_url}#{ProformaDA::Application.config.tenant_terms}

For enquires relating to this Estimate please contact our local Port Office:

#{doc.from_data[0][1].map {|d| (d[:value] rescue d) }.join("\n")}

BODY
)
%>"
   <% else %>
   href="#"
   <% end %>
>
  <%= icon('envelope') %>
</a>
