<div class="container-fluid">
  <h1>Charges for <%= @port.name %></h1>

  <table class="table table-bordered">
  <table class="table table-bordered" id="sortable" data-update_url="<%= sort_port_charges_path(@port) %>" data-object_type="charge">
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th>Actions</th>
    </tr>

  <% @charges.each do |charge| %>
    <tr class="item" data-item_id="<%= charge.id %>">
      <td><%= charge.name %></td>
      <td><%= charge.key %></td>
      <td>
        <div class="btn-group">
          <%= link_to 'Show', port_charge_path(@port, charge), :class => 'btn btn-info btn-small' %>
          <%= link_to 'Edit', edit_port_charge_path(@port, charge), :class => 'btn btn-small' %>
          <%= link_to 'Delete', port_charge_path(@port, charge), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-small' %>
        </div>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Charge', new_port_charge_path(@port), :class => 'btn btn-primary' %>
</div>
