<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monson Disbursments</title>
  <!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.png", :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">
  <div class="wrapper">
    <header id="hd" class="navbar navbar-static-top">
      <div id="logo" class="pull-right"></a href="/">Monson</a></div>
      <% if current_user %>
        <% if action_name == "published" %>
          <div class="container">
            <div class="row-fluid" style="padding-top: 16px;">
              <i class="icon-chevron-left icon-white"></i>
              <%= link_to "Back to the Dashboard", root_path, class: "back" %>
            </div>
          </div>
        <% else %>
          <div class="logged-in">
            <b><%= current_user.full_name %></b>
            <%= link_to "Log Out", destroy_user_session_path,
                        class: "btn btn-mini" %>
          </div>
          <div id="mainmenu">
            <ul class="nav nav-tabs">
              <li class="<%= "active" if controller_name == 'home' %>">
                <a href="<%= root_url %>">
                  <i class="icon-home"></i>&nbsp;Dashboard
                </a>
              </li>
              <li class="<%= "active" if controller_name == 'disbursments' %>">
                <a href="<%= disbursments_url %>">
                  <i class="icon-list"></i>&nbsp;Proforma Disbursments
                </a>
              </li>
              <li class="<%= "active" if ['ports',
                                          'tariffs',
                                          'terminals',
                                          'services'].member? controller_name %>">
                <a href="<%= ports_url %>">
                  <i class="icon-wrench"></i>&nbsp;Ports Setup
                </a>
              </li>
              <li class="<%= "active" if controller_name == 'vessels' %>">
                <a href="<%= vessels_url %>">Vessels</a>
              </li>
              <li class="<%= "active" if controller_name == 'companies' %>">
                <a href="<%= companies_url %>">Companies</a>
              </li>
              <li class="<%= "active" if controller_name == 'taxes' %>">
                <a href="<%= taxes_url %>">Taxes</a>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>
      <div class="clearfix"></div>
    </header>
    <div id="body">
      <% if current_user and action_name != "published" %>
      <%= render_breadcrumbs :builder => Breadcrumbs::Builder %>
      <% end %>
        <%= yield %>
      <div class="clearfix"></div>
    </div>
    <footer id="ft">
      <p>&copy; Copyright 2013 <a href="http://stage3systems.com">Stage 3 Systems Inc.</a></p>
    </footer>
  </div>
</body>
</html>
