<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monson Disbursments</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag "favicon.png", :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">
  <div class="wrapper">
  <header id="hd" class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="#">Monson</a>
      <% if current_user %>
      <ul class="nav">
        <li class="<%= "active" if controller_name == 'home' %>"><a href="<%= root_url %>">Dashboard</a></li>
        <li class="<%= "active" if controller_name == 'disbursments' %>"><a href="<%= disbursments_url %>">Proforma Disbursments</a></li>
        <li class="<%= "active" if ['ports','terminals','services'].member? controller_name %>"><a href="<%= ports_url %>">Ports Setup</a></li>
        <li class="<%= "active" if controller_name == 'vessels' %>"><a href="<%= vessels_url %>">Vessels</a></li>
        <li class="<%= "active" if controller_name == 'companies' %>"><a href="<%= companies_url %>">Companies</a></li>
        <li class="<%= "active" if controller_name == 'taxes' %>"><a href="<%= taxes_url %>">Taxes</a></li>
      </ul>
      <ul class="nav pull-right">
        <li classw="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %>&nbsp;</span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign out", destroy_user_session_path %></li>
          </ul>
        </li>
      </ul>
      <% end %>
    </div>
  </header>
  <% if current_user and action_name != "published" %>
  <%= render_breadcrumbs :builder => Breadcrumbs::Builder %>
  <% end %>
    <%= yield %>
  </div>
  <footer id="ft">
    <p>&copy; Copyright 2013 <a href="http://stage3systems.com">Stage 3 Systems Inc.</a></p>
  </footer>
</body>
</html>
