<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= ProformaDA::Application.config.tenant_name %> Estimates</title>
  <!--[if lt IE 9]>
  <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag ProformaDA::Application.config.tenant, media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag ProformaDA::Application.config.tenant_favicon, :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller_name %>">
  <header id="hd" class="navbar navbar-static-top">
    <div id="logo" class="pull-right"><a href="/"><%= ProformaDA::Application.config.tenant_name %></a></div>
    <% if current_user %>
      <% if action_name == "published" %>
        <div class="container">
          <div class="row" style="padding-top: 16px;">
            <%= icon('chevron-left') %>
            <%= link_to "Back to the Dashboard", root_path, class: "back" %>
          </div>
        </div>
      <% else %>
        <div class="logged-in">
          <b>Hello <%= current_user.first_name %><%= " | #{current_user.office.name}" if current_user.office %></b>
          <%= link_to icon('log-out'), destroy_user_session_path,
                      method: :delete,
                      class: "btn btn-xs" %>
        </div>
        <div id="mainmenu">
          <ul class="nav nav-tabs">
            <li class="<%= "active" if controller_name == 'home' %>">
              <a href="<%= root_url %>">
                <%= icon('dashboard') %>&nbsp;Dashboard
              </a>
            </li>
            <li class="<%= "active" if controller_name == 'disbursements' %>">
              <a href="<%= disbursements_url %>">
                <%= icon('list') %>&nbsp;Proforma Disbursements
              </a>
            </li>
            <li class="<%= "active" if configuration_tab? %>">
              <a href="<%= configuration_url %>">
                <%= icon('wrench') %>&nbsp;Configuration
              </a>
            </li>
          </ul>
        </div>
        <% if configuration_tab? %>
        <div id="submenu" class="col-md-12">
          <ul class="nav nav-pills">
            <% if current_user.admin? %>
            <li class="<%= "active" if ports_active? %>">
              <a href="<%= ports_url %>">Ports</a>
            </li>
            <li class="<%= "active" if controller_name == 'taxes' %>">
              <a href="<%= taxes_url %>">Taxes</a>
            </li>
            <% end %>
            <li class="<%= "active" if controller_name == 'vessels' %>">
              <a href="<%= vessels_url %>">Vessels</a>
            </li>
            <li class="<%= "active" if controller_name == 'companies' %>">
              <a href="<%= companies_url %>">Companies</a>
            </li>
            <li class="<%= "active" if controller_name == 'cargo_types' %>">
              <a href="<%= cargo_types_url %>">Cargo Types</a>
            </li>
          </ul>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </header>
  <div class="clearfix"></div>
  <div id="body<%= "_published" if action_name == "published" %>">
    <div class="container-fluid">
    <% if current_user and action_name != "published" %>
    <%= render_breadcrumbs :builder => Breadcrumbs::Builder %>
    <div class="clearfix"></div>
    <% end %>
      <%= yield %>
    <div class="clearfix"></div>
    </div>
  </div>
  <% unless action_name == "published" %>
  <footer id="ft">
    <div>
      &copy; 2013-2015
      <a href="http://stage3systems.com" target="_blank" class="company">
        Stage 3 Systems Inc.
      </a>
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <% if ProformaDA::Application.config.tenant == 'monson' %>
        <a href="/userManual_v1.2.pdf">User Manual</a>
      <% end %>
    </div>
  </footer>
  <% end %>
  <%= piwik_tracking_tag %>
</body>
</html>
